<!<%- include('../partials/header') %>

<form id="new-form" action="/tickets" method="POST">
    <input name="flight" type="hidden" value="<%= flightId %>"">
    <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
        <input type="number" name="price">
    <label>Flight:</label>
        <div><%= flight.flightNo %></div>
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>