<!<%- include('../partials/header') %>

<form id="new-form" action="/tickets" method="POST">
    <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
        <input type="number" name="price">
    <label>Flight:</label>
        <form action="/flights/<%= flights._id %>" method="POST">
            <select name="flightId">
                <%- flights.map(f =>
                `<option value="${f._id}">${f.airline} ${f.flightNo}</option>`
                ).join("") %>
            </select>
        </form>
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>